---
 const personalImageAlt = "Jorge Melgarejo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Jorge Luis Melgarejo Ramírez, soy ingeniero graduado en <strong> Tecnologías de la Información</strong> y un apasionado por la programación. Actualmente, he encontrado mi camino profesional en el desarrollo web, donde busco seguir creciendo y aportando valor con mis conocimientos y habilidades.
    </p>

    <p>
      Algunos de mis logros incluyen <strong>la colaboración con el Hotel Mandarín Cárton en el desarrollo de su página web, así como en una serie de sistemas de gestión de personal, recursos y administrativos.</strong>
      Actualmente, continúo trabajando en la implementación de sistemas para el hotel en mis ratos libres, lo que me permite seguir mejorando mis habilidades en programación.

    </p>

    <p>
      En este momento me encuentro en la búsqueda de una oportunidad como <strong>desarrollador web</strong>, con el objetivo de mejorar mis habilidades, crecer profesionalmente y ofrecer siempre lo mejor de mí para garantizar productos de calidad que brinden seguridad y confianza a los usuarios.
    </p>
  </div>

  <img width="200" height="200" src="/jorgeMelgarejo.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
